  {% extends "layout_signed_in.html" %}

  {% block pageTitle %}
    Home
  {% endblock %}

    {% block beforeContent %}
      <a class="govuk-back-link" href="/on-call-rota/home">Home</a>
    {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div id="panel" class="govuk-panel govuk-panel--confirmation">
            {% include "includes/march-rota-panel.html" %}
            <br>
            {% include "includes/calendar.html" %}
        </div>

        <div class="slider">
          <div class="slides">
            <div id="slide-1">
              <p><span class="govuk-!-font-weight-bold">Sunday</span> 1 March<br><br>
                Day shift (7:00 to 19:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-2">
              <p><span class="govuk-!-font-weight-bold">Monday</span> 2 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-3">
              <p><span class="govuk-!-font-weight-bold">Tuesday</span> 3 March<br><br>
                Day shift (7:00 to 19:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-4">
              <p><span class="govuk-!-font-weight-bold">Wednesday</span> 4 March<br><br>
                Day shift (7:00 to 19:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-5">
              <p><span class="govuk-!-font-weight-bold">Thursday</span> 5 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-6">
              <p><span class="govuk-!-font-weight-bold">Friday</span> 6 March<br><br>
                Day shift (7:00 to 19:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                1 person on-call<br>
                <a href="/on-call-rota/view-shift-details" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="/on-call-rota/who-to-book" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-7">
              <p><span class="govuk-!-font-weight-bold">Saturday</span> 7 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-8">
              <p><span class="govuk-!-font-weight-bold">Sunday</span> 8 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-9">
              <p><span class="govuk-!-font-weight-bold">Monday</span> 9 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-10">
              <p><span class="govuk-!-font-weight-bold">Tuesday</span> 10 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-11">
              <p><span class="govuk-!-font-weight-bold">Wednesday</span> 11 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-12">
              <p><span class="govuk-!-font-weight-bold">Thursday</span> 12 March<br><br>
                Day shift (7:00 to 19:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-13">
              <p><span class="govuk-!-font-weight-bold">Friday</span> 13 March<br><br>
                <strong class="govuk-tag" style="color: #005a30; background-color: #cce2d8;">You're on this shift</strong><br>                
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-14">
              <p><span class="govuk-!-font-weight-bold">Saturday</span> 14 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="/on-call-rota/view-other-shift-details" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-15">
              <p><span class="govuk-!-font-weight-bold">Sunday</span> 15 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-16">
              <p><span class="govuk-!-font-weight-bold">Monday</span> 16 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-17">
              <p><span class="govuk-!-font-weight-bold">Tuesday</span> 17 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-18">
              <p><span class="govuk-!-font-weight-bold">Wednesday</span> 18 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-19">
              <p><span class="govuk-!-font-weight-bold">Thursday</span> 19 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-20">
              <p><span class="govuk-!-font-weight-bold">Friday</span> 20 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-21">
              <p><span class="govuk-!-font-weight-bold">Saturday</span> 21 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-22">
              <p><span class="govuk-!-font-weight-bold">Sunday</span> 22 March<br><br>
                Day shift (7:00 to 19:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-23">
              <p><span class="govuk-!-font-weight-bold">Monday</span> 23 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-24">
              <p><span class="govuk-!-font-weight-bold">Tuesday</span> 24 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-25">
              <p><span class="govuk-!-font-weight-bold">Wednesday</span> 25 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-26">
              <p><span class="govuk-!-font-weight-bold">Thursday</span> 26 March<br><br>
                Day shift (7:00 to 19:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-27">
              <p><span class="govuk-!-font-weight-bold">Friday</span> 27 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                3 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-28">
              <p><span class="govuk-!-font-weight-bold">Saturday</span> 28 March<br><br>
                Day shift (7:00 to 19:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-29">
              <p><span class="govuk-!-font-weight-bold">Sunday</span> 29 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-30">
              <p><span class="govuk-!-font-weight-bold">Monday</span> 30 March<br><br>
                Day shift (7:00 to 19:00)<br>
                0 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                1 person on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
            <div id="slide-31">
              <p><span class="govuk-!-font-weight-bold">Tuesday</span> 31 March<br><br>
                Day shift (7:00 to 19:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
                <br><br>
                Night shift (19:00 to 7:00)<br>
                2 people on-call<br>
                <a href="#" class="govuk-link--no-visited-state">View shift details</a><br>
                <a href="#" class="govuk-link--no-visited-state">Add people to shift</a>
              </p>
            </div>
          </div>
        </div>

        <br>

      </div>
    </div>

  {% endblock %}
