  {% extends "layout_signed_in.html" %}

  {% block pageTitle %}
    Home - new rota
  {% endblock %}

  {% block beforeContent %}
    <a class="govuk-back-link" href="/home-new-rota">Back</a>
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">
          Choose your shifts for:
        </h2>

        <div id="panel" class="govuk-panel govuk-panel--confirmation">
          {% include "includes/march-rota-panel.html" %}
        </div>

        <br>

        <form class="form" action="/on-call-rota/preview-shifts" method="post">

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <!-- week beginning 24 Feb -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 24 Feb
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Sun 1 Mar">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Sunday</span> 1 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>
            </div>
            <!-- week beginning 2 Mar -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 2 Mar
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Monday 2 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Monday</span> 2 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Tuesday 3 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Tuesday</span> 3 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Wednesday 4 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Wednesday</span> 4 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Thursday 5 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Thursday</span> 5 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Friday 6 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Friday</span> 6 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Saturday 7 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Saturday</span> 7 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Sunday 8 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Sunday</span> 8 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>
            </div>
            <!-- week beginning 9 Mar -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 9 Mar
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Monday 9 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Monday</span> 9 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Tuesday 10 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Tuesday</span> 10 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Wednesday 11 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Wednesday</span> 11 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Thursday 12 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Thursday</span> 12 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Friday 13 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Friday</span> 13 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Saturday 14 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Saturday</span> 14 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Sunday 15 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Sunday</span> 15 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- week beginning 16 Mar -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 16 Mar
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Monday 16 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Monday</span> 16 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Tuesday 17 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Tuesday</span> 17 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Wednesday 18 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Wednesday</span> 18 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Thursday 19 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Thursday</span> 19 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Friday 20 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Friday</span> 20 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Saturday 21 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Saturday</span> 21 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Sunday 22 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Sunday</span> 22 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- week beginning 23 Mar -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 23 Mar
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Monday 23 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Monday</span> 23 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Tuesday 24 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Tuesday</span> 24 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Wednesday 25 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Wednesday</span> 25 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Thursday 26 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Thursday</span> 26 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Friday 27 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Friday</span> 27 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Saturday 28 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Saturday</span> 28 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Sunday 29 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Sunday</span> 29 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- week beginning 30 Mar -->
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span id="accordion-link" class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Week beginning 30 Nov
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Monday 30 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Monday</span> 30 March
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="shift-date" type="checkbox" value="Tuesday 31 March">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          <span class="govuk-!-font-weight-bold">Tuesday</span> 31 March
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <button id="red-button" class="govuk-button" data-module="govuk-button">Preview chosen shifts</button>

        </form>

      </div>
    </div>

  {% endblock %}
