{% extends "layout_authentication.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sign in</h1>

      <form class="form" action="/sign-in-2fa" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Volunteer number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="volunteer-numbner" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="phoneNumber">
        </div>

        <button id="red-button" class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <a href="#" class="govuk-link">Forgot your volunteer number</a>

    </div>
  </div>

{% endblock %}
