{% extends "layout_signed_in.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/on-call-rota/choose-shifts">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-l">Confirm booking onto this shift</h2>

          {% include "on-call-rota/shift-summary.html" %}

          <form action="/on-call-rota/confirm-shifts" method="post" novalidate>

            {% include "includes/pass-phoneNumber-to-Notify.html" %}  

            <button id="red-button" type="submit" class="govuk-button" data-module="govuk-button">
              Yes, book me on this shift
            </button>

          </form>

    </div>
  </div>
{% endblock %}
