          <div id="panel" class="govuk-panel govuk-panel--confirmation">

            <span class="govuk-caption-m">Date and time</span>
            <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Fri 6 March
            </h3>
            <p class="govuk-body" style="margin-bottom: 0px;"> 
              Night shift (19:00 to 7:00)
            </p>

          </div>

          <div id="panel" class="govuk-panel govuk-panel--confirmation">

            <span class="govuk-caption-m">Team</span>

            <table class="govuk-table" style="margin-bottom: 0px;">
              <thead class="govuk-table__head" style="border-bottom: 0px;">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Team member</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Roles</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    {% include "includes/volunteer-name.html" %}<br>
                    <span class="govuk-!-font-weight-regular">07987310467</span>                
                  </th>
                  <td class="govuk-table__cell">Emergency response volunteer<br>Driver</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Helen Santos<br>
                    <span class="govuk-!-font-weight-regular">07943251234</span>                
                  </th>
                  <td class="govuk-table__cell">Emergency response volunteer<br>Driver</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    Raheem Imri<br>
                    <span class="govuk-!-font-weight-regular">07835213531</span>                
                  </th>
                  <td class="govuk-table__cell">Duty manager</td>
                </tr>
              </tbody>
            </table>

          </div>
