        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          {% include "includes/live-emergency-panel.html" %}
          <br>

          <table class="govuk-table" style="margin-bottom: 0px;">
            <tbody class="govuk-table__body">
              <!-- Sat 15 Feb - day shifts -->
              {% if data['leisure-centre-Sat-15-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Sat-15-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Sat-15-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Sat-15-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Sat 15 Feb - night shifts -->
              {% if data['leisure-centre-Sat-15-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Sat-15-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Sat-15-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Sat-15-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 15 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Sun 16 Feb - day shifts -->
              {% if data['leisure-centre-Sun-16-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Sun-16-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Sun-16-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Sun-16-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Sun 16 Feb - day shifts -->
              {% if data['leisure-centre-Sun-16-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Sun-16-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Sun-16-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Sun-16-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 16 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}              
              <!-- Mon 17 Feb - day shifts -->
              {% if data['leisure-centre-Mon-17-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Mon-17-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Mon-17-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Mon-17-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Mon 17 Feb - Night shifts -->
              {% if data['leisure-centre-Mon-17-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Mon-17-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Mon-17-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Mon-17-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 17 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}              
              <!-- Tue 18 Feb - day shifts -->
              {% if data['leisure-centre-Tue-18-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Tue-18-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Tue-18-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Tue-18-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Tue 18 Feb - Night shifts -->
              {% if data['leisure-centre-Tue-18-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Tue-18-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Tue-18-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Tue-18-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 18 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Wed 19 Feb - day shifts -->
              {% if data['leisure-centre-Wed-19-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Wed-19-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Wed-19-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Wed-19-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Wed 19 Feb - Night shifts -->
              {% if data['leisure-centre-Wed-19-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Wed-19-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Wed-19-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Wed-19-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 19 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}              
              <!-- Thu 20 Feb - day shifts -->
              {% if data['leisure-centre-Thu-20-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Thu-20-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Thu-20-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Thu-20-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %} 
              <!-- Thu 20 Feb - Night shifts -->
              {% if data['leisure-centre-Thu-20-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Thu-20-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Thu-20-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Thu-20-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 20 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}               
              <!-- Fri 21 Feb - day shifts -->
              {% if data['leisure-centre-Fri-21-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Fri-21-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Fri-21-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Fri-21-Feb-day']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Day shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %} 
              <!-- Fri 21 Feb - Night shifts -->
              {% if data['leisure-centre-Fri-21-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Leisure Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['mosque-Fri-21-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Mosque             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['civic-centre-Fri-21-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Civic Centre             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['phone-support-line-Fri-21-Feb-Night']=="true" %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 21 Feb<br>Night shift</td>
                  <td class="govuk-table__cell">
                    Phone support line             
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}                           
            </tbody>
          </table>

        </div>