
    <table class="govuk-table calendar">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row day-of-week">
          <td scope="col" class="govuk-table__header app-custom-class">M</td>
          <td scope="col" class="govuk-table__header app-custom-class">T</td>
          <td scope="col" class="govuk-table__header app-custom-class">W</td>
          <td scope="col" class="govuk-table__header app-custom-class">T</td>
          <td scope="col" class="govuk-table__header app-custom-class">F</td>
          <td scope="col" class="govuk-table__header app-custom-class">S</td>
          <td scope="col" class="govuk-table__header app-custom-class">S</td>
        </tr>
      </tdead>
      <tbody class="govuk-table__body slider" style="border: 0px;">
        <tr class="govuk-table__row dates">
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-1" class="govuk-link govuk-link--no-visited-state">1</a></td>
        </tr>
        <tr class="govuk-table__row dates">
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-2" class="govuk-link govuk-link--no-visited-state">2</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-3" class="govuk-link govuk-link--no-visited-state">3</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-4" class="govuk-link govuk-link--no-visited-state">4</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-5" class="govuk-link govuk-link--no-visited-state">5</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-6" class="govuk-link govuk-link--no-visited-state">6</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-7" class="govuk-link govuk-link--no-visited-state">7</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-8" class="govuk-link govuk-link--no-visited-state">8</a></td>
        </tr>
        <tr class="govuk-table__row dates">
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-9" class="govuk-link govuk-link--no-visited-state">9</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-10" class="govuk-link govuk-link--no-visited-state">10</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-11" class="govuk-link govuk-link--no-visited-state">11</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-12" class="govuk-link govuk-link--no-visited-state">12</a></td>
          <td scope="row" id="night-taken" class="govuk-table__header"><a href="#slide-13" class="govuk-link govuk-link--no-visited-state">13</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-14" class="govuk-link govuk-link--no-visited-state">14</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-15" class="govuk-link govuk-link--no-visited-state">15</a></td>
        </tr>
        <tr class="govuk-table__row dates">
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-16" class="govuk-link govuk-link--no-visited-state">16</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-17" class="govuk-link govuk-link--no-visited-state">17</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-18" class="govuk-link govuk-link--no-visited-state">18</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-19" class="govuk-link govuk-link--no-visited-state">19</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-20" class="govuk-link govuk-link--no-visited-state">20</a></td>
          <td scope="row" id="night-taken" class="govuk-table__header"><a href="#slide-21" class="govuk-link govuk-link--no-visited-state">21</a></td>
          <td scope="row" id="night-taken" class="govuk-table__header"><a href="#slide-22" class="govuk-link govuk-link--no-visited-state">22</a></td>
        </tr>
        <tr class="govuk-table__row dates">
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-23" class="govuk-link govuk-link--no-visited-state">23</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-24" class="govuk-link govuk-link--no-visited-state">24</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-25" class="govuk-link govuk-link--no-visited-state">25</a></td>
          <td scope="row" id="night-taken" class="govuk-table__header"><a href="#slide-26" class="govuk-link govuk-link--no-visited-state">26</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-27" class="govuk-link govuk-link--no-visited-state">27</a></td>
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-28" class="govuk-link govuk-link--no-visited-state">28</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-29" class="govuk-link govuk-link--no-visited-state">29</a></td>
        </tr>
        <tr class="govuk-table__row dates">
          <td scope="row" id="available" class="govuk-table__header"><a href="#slide-30" class="govuk-link govuk-link--no-visited-state">30</a></td>
          <td scope="row" id="both-taken" class="govuk-table__header"><a href="#slide-31" class="govuk-link govuk-link--no-visited-state">30</a></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
          <td scope="row" class="govuk-table__header"></td>
        </tr>
      </tbody>
    </table>