          <table class="govuk-table" style="margin-bottom: 0px;">
            <tbody class="govuk-table__body">
              <!-- Week beginning 24 Feb -->
              {% if data['Sun-1-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 1 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 2 Mar -->
              {% if data['Mon-2-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 2 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-3-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 3 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-4-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 4 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-5-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 5 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-6-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 5 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-8-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 8 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}

              <!-- Week beginning 9 Mar -->
              {% if data['Tue-10-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 10 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-11-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Wed</span> 11 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-13-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Fri</span> 13 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}


              <!-- Week beginning 16 Mar -->
              {% if data['Mon-16-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 16 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Mon-16-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 16 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-17-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 17 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-19-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 19 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-19-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 19 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-21-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 21 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-22-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sun</span> 22 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}

              <!-- Week beginning 23 Mar -->
              {% if data['Tue-24-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Tue</span> 24 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-26-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Thu</span> 26 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-28-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Sat</span> 28 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}

              <!-- Week beginning 30 Mar -->
              {% if data['Mon-30-Mar-day']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 30 Mar<br>Day shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Mon-30-Mar-night']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell"><span class="govuk-!-font-weight-bold">Mon</span> 30 Mar<br>Night shift</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
      
            </tbody>
          </table>