          <table class="govuk-table" style="margin-bottom: 0px;">
            <tbody class="govuk-table__body">
              <!-- Week beginning 24 Feb -->
              {% if data['Sun-1-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sun 1 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 2 Mar -->
              {% if data['Mon-2-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 2 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-3-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Tue 3 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-4-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Wed 4 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-5-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Thu 5 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-6-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Fri 6 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-7-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sat 7 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-8-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sun 8 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 9 Mar -->
              {% if data['Mon-9-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 9 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-10-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Tue 10 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-11-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Wed 11 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-12-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Thu 12 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-13-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Fri 13 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-14-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sat 14 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-15-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sun 15 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 16 Mar -->
              {% if data['Mon-16-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 16 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-17-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Tue 17 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-18-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Wed 18 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-19-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Thu 19 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-20-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Fri 20 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-21-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sat 21 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-22-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sun 22 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 23 Mar -->
              {% if data['Mon-23-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 23 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-24-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Tue 24 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Wed-25-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Wed 25 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Thu-26-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Thu 26 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Fri-27-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Fri 27 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sat-28-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sat 28 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Sun-29-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Sun 29 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              <!-- Week beginning 30 Mar -->
              {% if data['Mon-30-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Mon 30 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}
              {% if data['Tue-31-Mar']=="true" %}
                <tr id="panel-disappear" class="govuk-table__row">
                  <td class="govuk-table__cell">Tue 31 Mar</td>
                  <td class="govuk-table__cell">
                    {% include "includes/volunteer-name.html" %}                
                  </td>
                  <td class="govuk-table__cell">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Remove</a>
                  </td>
                </tr>
              {% endif %}        
            </tbody>
          </table>