<footer class="govuk-footer " role="contentinfo" style="background-color: #262626; border-top: 0px;">
  <div class="govuk-width-container">

  <div class="govuk-grid-row" id="footer">
    <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Need support?</h3>
    <p class="govuk-body">Emergency response rota is maintained by the Crisis Response Team at British Red Cross.</p>

    <p class="govuk-body">The team can be contacted by emailing <span class="govuk-!-font-weight-bold">crt@redcross.org.uk</span>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body" id="footer-link">All content is licenced under <a class="govuk-footer__link" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International</a>.
    <p class="govuk-body">The British Red Cross Society, incorporated by Royal Charter 1908, is a charity registered in England and Wales (220949), Scotland (SC037738) and Isle of Man (0752).</p>
  </div>
</footer>