        <div id="panel" class="govuk-panel govuk-panel--confirmation" style="background-color: #193351; border: 0px transparent;">

            <span class="govuk-caption-m" style="color: #fff;">Your next shift</span>
            <h2 class="govuk-heading-m" style="margin-bottom: 0px; color: #fff;">Sun 16 Feb
            </h3>
            <p class="govuk-body" style="margin-bottom: 0px; color: #fff;"> 
              9:00 to 17:00<br>
              On-call shift<br>
              Wellport County
            </p>
            <br>
            
            <a style="margin-bottom: 0px; color: #193351; background-color: #fff;" class="govuk-button" data-module="govuk-button" href="/view-shift-details">View shift details</a>
            
            <br><br>
            <a style="margin-bottom: 0px; color: #193351; background-color: #fff;" class="govuk-button" data-module="govuk-button" href="/cancel/preview">I can't do this shift</a>
        </div>