        <div id="panel" class="govuk-panel govuk-panel--confirmation" style="background-color: #193351;">

            <span class="govuk-caption-m" style="color: #fff;">Next shift</span>
            <h2 class="govuk-heading-m" style="margin-bottom: 0px; color: #fff;">Mon 16 April
            </h3>
            <p class="govuk-body" style="margin-bottom: 0px; color: #fff;"> 
              9:00 to 17:00<br>
              On-call shift<br>
              Cumbria and Lancashire
            </p>
            <br>


            <button style="margin-bottom: 0px; color: #193351; background-color: #fff;" class="govuk-button" data-module="govuk-button">View shift details</button>
            <br><br>
            <button style="margin-bottom: 0px; color: #193351; background-color: #fff;" class="govuk-button" data-module="govuk-button">I can't do this shift</button>
        </div>