        <div id="panel" class="govuk-panel govuk-panel--confirmation">

            <span class="govuk-caption-m">Your next shift</span>
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Sun 16 Feb
            </h3>
            <p class="govuk-body" style="margin-bottom: 0px;"> 
              Day shift (7:00 to 19:00)<br>
              On-call shift<br>
              Belmontshire
            </p>
            <br>
            
            <a id="red-button" style="margin-bottom: 0px;" class="govuk-button" data-module="govuk-button" href="/view-shift-details">View shift details</a>
            
            <br><br>
            <a id="red-button" style="margin-bottom: 0px;" class="govuk-button" data-module="govuk-button" href="/cancel/preview">I can't do this shift</a>
        </div>