        <h4 class="govuk-heading-s">Your upcoming shifts</h4>

        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th style="font-weight: 400;" scope="row" class="govuk-table__header">Sun 16 Feb</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong style="background-color: #193351;" class="govuk-tag govuk-phase-banner__content__tag">
                  On-call
                </strong>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="/view-shift-details" class="govuk-link govuk-link--no-visited-state">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th style="font-weight: 400;" scope="row" class="govuk-table__header">Tue 25 Feb</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong style="background-color: #193351;" class="govuk-tag govuk-phase-banner__content__tag">
                  On-call
                </strong>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="#" class="govuk-link govuk-link--no-visited-state">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th style="font-weight: 400;" scope="row" class="govuk-table__header">Fri 28 Feb</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <strong style="background-color: #193351;" class="govuk-tag govuk-phase-banner__content__tag">
                  On-call
                </strong>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a href="#" class="govuk-link govuk-link--no-visited-state">View</a>
              </td>
            </tr>
          </tbody>
        </table>