{% extends "layout_signed_in.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/home">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h2 class="govuk-heading-l">Do you want to be taken off this shift?</h2>

        {% include "includes/shift-details-summary.html" %}
        <br>

        <form action="/cancel/confirm" method="post" novalidate>

          {% include "includes/pass-phoneNumber-to-Notify.html" %}  

          <button id="red-button" type="submit" class="govuk-button" data-module="govuk-button">
            Yes, take me off this shift
          </button>

        </form>

    </div>
  </div>
{% endblock %}
