        <h1 class="govuk-heading-l">Sign in</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Volunteer number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="volunteer-numbner" type="number" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="email" name="phoneNumber">
        </div>

        <button id="red-button" class="govuk-button" data-module="govuk-button">Continue</button>