{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
  {% include "includes/header_start_page.html" %}
<header class="govuk-header " role="banner" data-module="govuk-header" style="background-color: #193351; border-bottom: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px;">
    <br>
    <div class="govuk-grid-row">
      <div id="homepage-container" class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Emergency response rota
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Book onto shifts</li>
        <li>View your upcoming shifts</li>
        <li>Cancel shifts</li>
        <li>Give your availability to help in an emergency</li>
      </ul>

      <a style="background-color: #ffffff; color: #193351;" href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
      </div>
    </div>
  </div>
</header>  
{% endblock %}
{% block footer %}
  <footer class="govuk-footer " role="contentinfo" style="background-color: #262626; border-top: 0px;">
    <div class="govuk-width-container">

    <div class="govuk-grid-row" id="footer">
      <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Need support?</h3>
      <p class="govuk-body">Emergency response rota is maintained by the Crisis Response Team at British Red Cross.</p>

      <p class="govuk-body">The team can be contacted by emailing <span class="govuk-!-font-weight-bold">crt@redcross.org.uk</span>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body" id="footer-link">All content is licenced under <a class="govuk-footer__link" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International</a>.
      <p class="govuk-body">The British Red Cross Society, incorporated by Royal Charter 1908, is a charity registered in England and Wales (220949), Scotland (SC037738) and Isle of Man (0752).</p>
    </div>
  </footer>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
