{% extends "start-page/layout_live_emergency.html" %}

{% block pageTitle %}
  Emergency response rota | British Red Cross 
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

	      <h2 class="govuk-heading-m">Before you start</h2>

	      <p>You must already be a British Red Cross volunteer or staff to use this service.</p>

	      <p>You must have login details to use this service. These details will be given to you as part of your training.</p>
  		</div>
    </div>

{% endblock %}
