
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Emergency response rota
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Emergency response rota
      </h1>
      <p class="govuk-body-l">Prototypes for volunteers to plan their time with the British Red Cross</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <span class="govuk-caption-m">Task one</span>
      <h3 class="govuk-heading-m">View and cancel shifts</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/start-page/view-cancel">Start page</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/sign-in/view-cancel/numbers">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/home">Home page</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/view-shift-details">View shift details</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/cancel/preview">Canel shift</a>
        </li>
      </ul>
      <br>
    </div>

    <div class="govuk-grid-column-one-third">

      <span class="govuk-caption-m">Task two</span>
      <h3 class="govuk-heading-m">New on-call rota</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/on-call-rota/send-prompt-text-message">Send 'new rota' text message</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/start-page/on-call-rota">Start page</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/sign-in/on-call-rota/numbers">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/on-call-rota/home">New rota available</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/on-call-rota/choose-shifts">Choose rota shifts</a>
        </li>
      </ul>
      <br>
    </div>

    <div class="govuk-grid-column-one-third">

      <span class="govuk-caption-m">Task three</span>
      <h3 class="govuk-heading-m">Deploy</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/deploy/stand-by/send">
            Send 'stand by' text message
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/deploy/now/send">
            Send 'deploy now' text message
          </a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/deploy/stand-down/send">
            Send 'stand down' text message
          </a>
        </li>
      </ul>
      <br>
    </div>

  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <span class="govuk-caption-m">Task four</span>
      <h3 class="govuk-heading-m">Live emergency</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/live-emergency/send-prompt-text-message">Send 'new emergency' text message</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/start-page/live-emergency">Start page</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/sign-in/live-emergency/numbers">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/live-emergency/home">Live emergency</a>
        </li>
      </ul>
      <br>
    </div>
    <div class="govuk-grid-column-one-third">

      <span class="govuk-caption-m">Task five</span>
      <h3 class="govuk-heading-m">Profile and skills</h3>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="profile/view">
            View profile
          </a>
        </li>
      </ul>
      <br>
    </div>
</div>

{% endblock %}
