
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Emergency rotas
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Emergency volunteer rotas
      </h1>

      <p class="govuk-body-l">Prototypes for volunteering to plan their time with the British Red Cross.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/sign-in-numbers">Sign in</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/home">Home page</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/view-shift-details">View shift details</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/cancel-shift">Canel shift</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/home-new-rota">New rota available</a>
        </li>
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="/home-live-emergency">Live emergency</a>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
