{% extends "layout_signed_in.html" %}

{% block pageTitle %}
  View shift details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/home">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Shift details</h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          <span class="govuk-caption-m">Date and time</span>
          <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Sun 16 Feb
          </h3>
          <p class="govuk-body" style="margin-bottom: 0px;"> 
            9:00 to 17:00
          </p>

        </div>

        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          <span class="govuk-caption-m">Team</span>

          <table class="govuk-table" style="margin-bottom: 0px;">
            <thead class="govuk-table__head" style="border-bottom: 0px;">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Team member</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Roles</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="border-top: 0px;">
                  {% include "includes/volunteer-name.html" %}<br>
                  <span class="govuk-!-font-weight-regular">{% include "includes/volunteer-phone-number.html" %}</span>                  
                </th>
                <td class="govuk-table__cell">Operations team leader<br>Driver</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Darren Metcalf<br>
                  <span class="govuk-!-font-weight-regular">07943251234</span>                
                </th>
                <td class="govuk-table__cell">Emergency response volunteer</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  Laura Basegmezer<br>
                  <span class="govuk-!-font-weight-regular">07835213531</span>                
                </th>
                <td class="govuk-table__cell">Duty manager</td>
              </tr>
            </tbody>
          </table>

        </div>

      <div id="panel" class="govuk-panel govuk-panel--confirmation">
        <span class="govuk-caption-m">Vehicle</span>
        <h3 class="govuk-heading-m">Fiat van
        </h3>
        <p class="govuk-body govuk-!-font-weight-bold" id="reg-number">LJ15 EFS</p>
        <p class="govuk-body" style="margin-bottom: 0px;"> 
          Kendal Fire Station,<br>
          1 Burneside Rd, Kendal LA9 4RL
        </p>
      </div>

      <div id="panel" class="govuk-panel govuk-panel--confirmation">

        <span class="govuk-caption-m">Shift type</span>
        <h3 class="govuk-heading-m" style="margin-bottom: 0px;">On-call
        </h3>

      </div>

      <div id="panel" class="govuk-panel govuk-panel--confirmation">

        <span class="govuk-caption-m">Emergency response area</span>
        <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Wellport County
        </h3>

      </div>

      <form class="form" action="/cancel/preview" method="post">

        <input type="hidden" id="phone-security" name="begin-cancel-shift" value="check">

        <button id="red-button" class="govuk-button" data-module="govuk-button">I can't do this shift</button>

      </form>
    </div>
  </div>

{% endblock %}
