{% extends "layout_signed_in.html" %}

{% block pageTitle %}
  View shift details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          <span class="govuk-caption-m">Live emergency</span>
          <h3 class="govuk-heading-m" style="margin-bottom: 0px;">Wellport floods 2020
          </h3>
          <p class="govuk-body" style="margin-bottom: 0px;"> 
            <a href="#">View rota</a>
          </p>

        </div>

        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          <span class="govuk-caption-m">On-call rota</span>
          <h3 class="govuk-heading-m" style="margin-bottom: 0px;">February on-call rota
          </h3>
          <p class="govuk-body" style="margin-bottom: 0px;">Belmontshire</p>
          <p class="govuk-body" style="margin-bottom: 0px;"> 
            <a href="/on-call-rota/calendar">View rota</a>
          </p>

        </div>

        <div id="panel" class="govuk-panel govuk-panel--confirmation">

          <span class="govuk-caption-m">On-call rota</span>
          <h3 class="govuk-heading-m" style="margin-bottom: 0px;">March on-call rota
          </h3>
          <p class="govuk-body" style="margin-bottom: 0px;">Belmontshire</p>
          <p class="govuk-body" style="margin-bottom: 0px;"> 
            <a href="/on-call-rota/calendar">View rota</a>
          </p>

        </div>

    </div>
  </div>

{% endblock %}
